@import 'fonts.css';
@import 'patches.css';

/* Sidebar Method labels */
.api-method > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
  border-color: transparent;
  color: white;
}

.get > .menu__link::before {
  content: 'get';
  background-color: var(--ifm-color-primary);
}

.post > .menu__link::before {
  content: 'post';
  background-color: var(--openapi-code-green);
}

.delete > .menu__link::before {
  content: 'del';
  background-color: var(--openapi-code-red);
}

.put > .menu__link::before {
  content: 'put';
  background-color: var(--openapi-code-blue);
}

.patch > .menu__link::before {
  content: 'patch';
  background-color: var(--openapi-code-orange);
}

.head > .menu__link::before {
  content: 'head';
  background-color: var(--ifm-color-secondary-darkest);
}

/* Sections menu */

.sections-menu-trigger {
  /* all: unset; */
  flex: 1;
  display: inline-flex;
  background-color: var(--docs-color-background-100);
  color: var(--docs-color-text);
  height: 48px;
  border-radius: 6px;
  align-items: center;
  justify-content: space-between;
  text-align: left;

  box-sizing: border-box;
  outline: none;

  cursor: pointer;

  box-sizing: border-box;
  border: 1px solid var(--docs-color-background-200);
}

.sections-menu-trigger:hover {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}

.sections-menu-trigger,
.sections-menu-item {
  padding: 0 15px;
  padding-left: 10px;
}

.sections-menu-scrollButton {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: var(--docs-color-text);
  cursor: default;
}

.sections-menu-item {
  box-sizing: border-box;
  min-width: 200px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;

  cursor: pointer;
}

.sections-menu-item:hover {
  background-color: var(--docs-color-background-200);
}

.sections-menu-item[data-disabled] {
  cursor: not-allowed;
  background-color: var(--docs-color-border);
}

.sections-menu-trigger .item-indicator,
.sections-menu-item .item-indicator {
  height: 20px;
  width: 20px;
  color: theme('colors.primary.100');
}

.sections-menu-trigger .item-text,
.sections-menu-item .item-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.2;
}

.sections-menu-trigger .item-text > svg,
.sections-menu-item .item-text > svg {
  height: 32px;
  width: 32px;
  margin-right: 8px;
}

.sections-menu-content {
  box-sizing: border-box;
  background-color: var(--docs-color-background-100);
  border-radius: 6px;
  padding: 6px 0;

  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}

.sections-menu-trigger.compact {
  min-width: 5rem;
  height: 2.5rem;
}

.sections-menu-content.compact {
  width: 5rem;
  min-width: 5rem;
}

.compact .sections-menu-item {
  min-width: initial;
  height: 2.5rem;
  width: auto;
}
